<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/edureka-favicon-32x32.png">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./icons/style.css">
  <title>Income Tax Calculator by Esther White</title>
</head>

<body>
  <div class="container">
    <h1>Income Tax Calculator</h1>
    <div class="calculator">
      <form>
        <label for="income">
          <p>What is your annual income ?</p>
          $ <input type="text" id="income" name="income">
        </label>
        <button type="button" id="calculate">Calculate</button>
      </form>
      <div id="info">
        <div id="result"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="details">
      <p>Proficient in JavaScript Certification - Module 1 Assignment 'Tax Calculator' by Esther White <a class="my-username"
          href="https://monacodelisa.com/" target="_blank">{{MonaCodeLisa}}</a>
      </p>
    </div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/monacodelisa/" target="_blank"><span class="icon-linkedin"></span></a>
      <a href="https://github.com/monacodelisa" target="_blank"><span class="icon-github"></span></a>
      <a href="https://www.youtube.com/@MonaCodeLisa" target="_blank"><span class="icon-youtube"></span></a>
    </div>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
<script src="app.js"></script>
</body>

</html>
